.Separator {
	height: 100%;
	width: 1px;
	background-color: #333333;
	margin: 0 10px;
}

.Logo {
	margin: auto;
	/* font-family: sans-serif; */
	letter-spacing: -2px;
	font-size: 45px;
	/* font-size-adjust: 100%; */
	text-transform: uppercase;
	font-weight: 800;
}

.Logo:hover {
	cursor: pointer;
}

.Logo span {
	font-weight: 200;
	color: #808080;
}

.OpenMenu {
	margin: auto;
	font-size: 50px;
}

.Arrows {
	margin: auto 30px;
	height: 30px;
	width: 30px;
	display: flex;
	padding: 5px;
	align-items: center;
	color: white;
	box-sizing: content-box;
	background-color: rgba(0, 0, 0, 0.40);
}

.Arrows:hover {
	cursor: pointer;
	background-color: black;
}

.Arrows > *{
	margin: auto;
}

.OneInputForm {
	padding: 0;
	/* display: flex; */
	/* margin: auto; */
	/* justify-content: space-around; */
}

.OneInputForm > * {
	margin: auto;
	height: 20px;
	border: white 1px solid;
	padding: 0;
	padding: 10px 10px;
	box-sizing: content-box;
	text-align: center;
	transition: .2 ease-in-out;
}

.OneInputForm > *:focus {
		outline: none;
}

.OneInputForm input {
	background-color: hsla(0, 0%, 0%, 0.5);
	padding: 10px 40px;
	color: white;
}

.OneInputForm input::placeholder {
	color: white;
}

.OneInputForm button {
	height: 20px;
	padding: 10px 40px;
	background-color: white;
}

.OneInputForm button:hover {
	cursor: pointer;
	/* background-color: black; */
	/* color: white; */
	/* border-left-color: black; */
}

@media (max-width: 450px) {
	.OneInputForm input {
		padding: 10px 10px;
	}
}

@media (max-width: 530px) {
	.OneInputForm button {
		padding: 10px 10px;
	}
}
