.CoverTitleLeft {
	margin: auto;
	padding: 0px;
	display: flex;
	/* z-index: 99999; */
	/* text-align: left; */
	justify-content: flex-start;
	color: black;
	text-transform: uppercase;
	/* background-color: green; */
	width: 100%;
}
.CoverTitleLeft ul {
	/* list-style: symbols(+); */
	list-style-type: '+';
	justify-content: flex-start;
	/* float: left; */
	/* background-color: red; */
	/* width: 50%; */
}

.CoverTitleLeft .Text {
	font-weight: bolder;
	font-size: 70px;	
	width: 100%;
	letter-spacing: -5px;
	white-space: initial;
	margin: 0;
}

.CoverTitleLeft .CoverTitleAltern {
	font-size: 20px;
	font-weight: 200;	;
	letter-spacing: 15px;
}

@media (max-width: 800px) {
	.CoverTitleLeft .Text {
		font-size: 50px;
	}
	.CoverTitleLeft .CoverTitleAltern {
		font-size: 15px;
	}
}	