.FooterMenu {
	width: 24%;
	text-align: left;
}

.FooterMenu h3 {
	width: 95%;
	/* background-color: red; */
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: 400;
	border-bottom: solid white 1px;
}

.FooterMenu ul{
	padding-left: 20px;
	/* background-color: red; */
}


.FooterMenu .Link{
	color: hsla(0, 0%, 70%, 1);
	font-size: 14px;
	list-style-type: '+  ';
}

.FooterMenu .Link:hover{
	list-style-type: '+ ';
	color: white;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.FooterMenu {
		width: 50%;
	}
}

.SocialMenu {
	display: flex;
	margin: 15px auto;
}

.SocialMenu ul{
	margin: auto;
	padding: 0;
	display: flex;
	align-items: center;
	list-style: none;

}

.SocialMenu ul li{
	margin: auto 10px;
	color: hsla(0, 0%, 70%, 1);
	transition: ease-in-out .2s;
}

.SocialMenu ul li:hover{
	cursor: pointer;
	color: hsla(0, 0%, 90%, 1);
}