.HeaderH{
	height: 90px;
	width: 100%;
	/* position: relative; */
}
.Header {
	/* position: fixed; */
	/* margin-bottom: 90px; */
	height: 90px;
	width: 100%;
	z-index: 900;
	background-color: white;
	justify-content: space-between;
	display: flex;
	margin: 0;
	box-sizing: border-box;
}

.Header .RowLogo {
	/* position: fixed; */
	/* background-color: salmon; */
	display: flex;
	/* justify-content: flex-start; */
	width: 25%;
	/* flex: 1; */
}

.Header .RowMenu {
	display: flex;
	/* background-color: seagreen; */
	width: 50%;
	/* flex: 3; */
}

.Header .RowMenu ul {
	text-transform: uppercase;
	font-weight: 600;
	/* font-weight: bold; */
	height: 100%;
	margin: auto;
	padding: 0 100px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.Header .RowMenu ul li {
	height: 100;
	transition: .2s ease-out;
}

.Header .RowMenu ul li:hover {
	border-bottom: black 1px solid;
	margin-bottom: 10px;
}

.Header .RowCart {
	width: 25%;
	display: flex;
}

.Header .RowCart ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0 90px;
}

@media (max-width: 1200px) and (min-width:800px) {
	.Header .RowCart ul {
		padding: 0 40px;
	}
	.Header .RowMenu ul {
		padding: 0 40px;
	}
}

.Header .RowCart ul li{
	/* background-color: green; */
	transition: .2s ease-out;
}
.Header .RowCart ul li:hover{
	margin-bottom: 10px;
	border-bottom: black 1px solid;
}

@media (max-width: 800px) {
	.HeaderH {
		display: none;
	}
	.Header {
		display: none;
	}
}

.Header .RowCart > *{
	/* font-size: 25px; */
}