.Drawer {
	width: 70%;
	height: 100%;
	position: fixed;
	z-index: 99999;
	background-color: hsla(0, 0%, 0%, 0.7);
	color: white;
	transition: transform .3s ease-out;
	transition:  .3s ease-out;
	overflow: hidden;
	padding: 20px 0;
}

.Open {
	transform: translateX(0);
}

.Close {
	transform: translateX(-100%);
	width: 0px;
}

@media (min-width: 800px) {
	.Drawer {
		display: none;
	}
}

.Drawer ul {
	margin: auto;
	/* background-color: red; */
	text-align: center;
	align-items: center;
	padding: 0;
	/* justify-content: space-around; */

	
}
.Drawer ul li {
	/* background-color: green; */
	font-size: 25px;
	margin: 20px auto;
}

.HSeparator {
	margin: 20px auto;
	width: 100px;
	border-bottom: white 3px solid;
}

.CategoriesDrawer {
	background-color: black;
	transition: .3s ease-out;
	margin: 0;
	
}

.CategoriesDrawerClose {
	height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.CategoriesDrawerClose ul li{
	padding: 0;
	/* margin: 0; */
}

.CategoriesDrawerOpen {
	height: 200px;
}

.CategoriesDrawerOpen ul li{
	padding: 10px 0;
	margin: 0;
}